In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('../data/bot_detection_data.csv')

# Now you can proceed with counting unique User IDs as shown above
unique_user_ids = df1['User ID'].nunique()

print(f"The number of unique User IDs is: {unique_user_ids}")

The number of unique User IDs is: 50000

In [ ]:
df2 = pd.read_csv('processed_users.csv')
# Get the unique User IDs from each DataFrame
user_ids_df1 = set(df1['User ID'])
user_ids_df2 = set(df2['userid'])


intersection_user_ids = user_ids_df1.intersection(user_ids_df2)

print(f"Number of intersecting User IDs: {len(intersection_user_ids)}")
# print("Intersecting User IDs:", intersection_user_ids)

Number of intersecting User IDs: 6

In [ ]:
bot_records_df1 = df1[df1['Bot Label'] == 1]

# Count the number of rows in the filtered DataFrame
num_bot_records = len(bot_records_df1)

print(f"The number of records in df1 with 'Bot label' equal to 1 is: {num_bot_records}")

The number of records in df1 with 'Bot label' equal to 1 is: 25018

In [ ]:
df_bot_only = df1[df1['Bot Label'] == 1].copy()
user_ids_df1 = set(df_bot_only['User ID'])
user_ids_df2 = set(df2['userid'])


intersection_user_ids = user_ids_df1.intersection(user_ids_df2)
print(f"Number of intersecting User IDs: {len(intersection_user_ids)}")
print("Intersecting User IDs:", intersection_user_ids)

Number of intersecting User IDs: 4
Intersecting User IDs: {784609, 862771, 814227, 875641}

In [ ]:
# Create a boolean mask: True for rows where 'User ID' is NOT in intersection_user_ids
mask_to_keep = ~df_bot_only['User ID'].isin(intersection_user_ids)

# Filter the df_bot_only DataFrame using the mask
df_bot_only_filtered = df_bot_only[mask_to_keep].copy()

# Now df_bot_only_filtered contains the records from df_bot_only
# that do not have User IDs present in intersection_user_ids

print(f"Number of records remaining in df_bot_only after removal: {len(df_bot_only_filtered)}")

Number of records remaining in df_bot_only after removal: 25014

In [ ]:
# Rename the columns
df_bot_only_filtered.rename(columns={
    "User ID": "userid",
    "Retweet Count": "avg_retweetcount",
    "Follower Count": "followers",
    "Bot Label": "label"
}, inplace=True)
print(df_bot_only_filtered.head())
print("Columns renamed successfully.")

   userid      Username                                              Tweet  \
0  132131         flong  Station activity person against natural majori...
1  696168        pmason  Just cover eight opportunity strong policy which.
2  704441        noah87                      Animal sign six data good or.
3  570928       james00  See wonder travel this suffer less yard office...
4  107312  lesterdaniel   Job phone price magazine worry stage check view.

   avg_retweetcount  Mention Count  followers  Verified  label       Location  \
0                85              1       2353     False      1      Adkinston
1                54              5       2242      True      1   Martinezberg
2                26              3       8438     False      1   Camachoville
3                41              4       3792      True      1  West Cheyenne
4                64              0       1442     False      1     Smithhaven

            Created At                           Hashtags
0  2020-05-11 15:29:50                                NaN
1  2021-08-14 22:27:05                 ever quickly new I
2  2020-04-13 21:24:21                    foreign mention
3  2023-05-07 22:24:47  anyone respond perhaps market run
4  2022-06-12 16:45:16               option husband admit
Columns renamed successfully.

In [ ]:
# Specify the columns to keep
columns_to_keep = ['userid', 'avg_retweetcount', 'followers', 'label']

# Drop columns that are not in the list of columns to keep
df_bot_only_filtered = df_bot_only_filtered[columns_to_keep].copy()

print("Columns dropped successfully.")
print(df_bot_only_filtered.head())

Columns dropped successfully.
   userid  avg_retweetcount  followers  label
0  132131                85       2353      1
1  696168                54       2242      1
2  704441                26       8438      1
3  570928                41       3792      1
4  107312                64       1442      1

In [ ]:
output_filename = '../data/bot_records_filtered.csv'
df_bot_only_filtered.to_csv(output_filename, index=False)

print(f"Filtered bot records exported to {output_filename}")

Filtered bot records exported to bot_records_filtered.csv